body{
  width: 95%
  border: 3px solid steelblue;
  box-shadow: 0 10px 20px 10px;
  font-family: arial, helvetica, sans-serif;
  margin: 0 auto;
}

@media screen and (max-width: 1024px){
  #container{
    width: 95%;
  }

  #right-column{
    width:65%;
  }

  #left-column{
    width: 30%;
  }
}

@media screen and (max-width: 320px){
  #container{
    width: 320px;
  }
}

@media screen and (max-width: 767px){
  #nav_menu{
    display: none;
  }
}

@media screen and (max-width: 140px) and (min-width: 70px){
  img{
    width: 100%
  }
}


h1, h2, h3, p{
  margin: 0;
  padding: 0;
}

a{
  font-weight: bold;
  text-decoration: none;
}

header{
  border-bottom: 2px solid steelblue;
  padding: .09375em 1.875em;
  background-image: linear-gradient(white, lightsteelblue);
}

header img{
  float: left
}

header h2{
  font-size: 250%;
  font-style: italic;
  color: steelblue;
  text-indent: 45px;
  text-shadow: 3px 3px 3px steelblue;
  margin-bottom: .3em;
}

header h3{
  font-size: 150%;
  text-indent: 45px;
  padding-bottom: .75em;
}

#nav_menu{
  width: 100%;
  clear: left;
  border-top: 2px solid steelblue;
}

#nav_menu ul{
  width: 100%;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

#nav_menu ul li{
  width: 20%;
  float: left;
}

#nav_menu ul li a{
  text-align: center;
  display: block;
  width: 100%;
  padding: .7em 0;
  background: steelblue;
  font-weight: bold;
  color: white;
}

#nav_menu ul li a.current{
  color: black;
}

#nav_menu ul li a.hover,
#nav_menu ul li a.focus{
  background: lightsteelblue;
}

#nav_menu ul ul{
  display: none;
  position: absolute;
  top: 100%;
}

#nav_menu ul ul li{
  float: none;
}

#nav_menu ul li:hover > ul{
  display: block;
}

#nav_menu > ul:after{
  content: "";
  clear: both;
  display: block;
}


section{
  padding: 1.5625em 1.875em;
  width: 80em;
  float: left;
}

section h1{
  font-size: 160%;
  margin-bottom: .3em;
}

section h2{
  font-size: 130%;
  margin-bottom: .5em;
}

section h3{
  color: maroon;
  font-size: 110%;
  margin-bottom: .5em;
}

section p{
  font-size: 100%;
  margin-bottom: .7em;
}

section a:link,
section a:visited
{
  color: maroon;
}

section a:hover,
section a:focus
{
  color: steelblue;
}


aside{
  float: left;
  width: 20em;
  padding: 1.5625em 0 0 1.875em;
}

aside h2{
  font-size: 130%;
  color: maroon;
  margin-bottom: .5em;
}

aside ul{
  line-height: 1.5;
  margin: 0;
  padding-left: 1em;
}

aside a:link,
aside a:visited{
  color: steelblue;
}

aside a:hover,
aside a:focus{
  color: maroon;
}

/*Styles for the <footer> section*/

footer{
  background-color: steelblue;
  clear: both;
  padding: 1.5625em 1.875em;
}

footer p{
  text-align: center;
  font-size: 85%;
  color: white;
}
